<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921249228922-fh5loe1jt8nt3rs86p2c24roeemnd5c3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921249228922-fh5loe1jt8nt3rs86p2c24roeemnd5c3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>921249228922-kfma9oos8565o8g2putmv2m2tkhii1u0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIalmhAqdRus1TMIWoQYEaROBYt58Wq5A</string>
	<key>GCM_SENDER_ID</key>
	<string>921249228922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theist.panditji</string>
	<key>PROJECT_ID</key>
	<string>panditji-c9ec5</string>
	<key>STORAGE_BUCKET</key>
	<string>panditji-c9ec5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921249228922:ios:1fd6281e268d3526adb3c3</string>
</dict>
</plist>